.blog {
  display: inline-block;
  width: 33.33%;
  box-sizing: border-box;
  margin-bottom: 2em;
  text-align: center;
  cursor: pointer;
}

.blog .website {
  font-weight: bold;
}

.blog .company {
  font-size: small;
}

.blog .title {
  font-style: italic;
}
